<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebar">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">

                    <div class="sb-sidenav-menu-heading">MEMBER</div>
                    <a class="nav-link" th:href="@{/admin/dash}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        회원관리
                    </a>

                    <div class="sb-sidenav-menu-heading">NOTICE</div>
                    <a class="nav-link" th:href="@{/admin/noticeList}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        공지사항 관리
                    </a>
                    <a class="nav-link" th:href="@{/admin/noticeInsert}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        공지사항 추가
                    </a>

                </div>
            </div>
        </nav>
    </div>
</th:block>
</html>