<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="adminHeader">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a th:href="@{/}" style="margin-right: 60px;"><img th:src="@{/img/logo/logo.png}" style="width:30px;" alt=""><span style="color: #fff; font-size: 20px;">TCODING</span></a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-inline-flex d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <span style="color:#fff;">관리자님, 어서오세요!&nbsp;&nbsp;</span><i class="fa-solid fa-user-gear" style="color:#fff;"></i>
            </div>
        </form>
    </nav>
</th:block>
</html>