<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link th:href="@{/static/css/login.css}" rel="stylesheet">
    <style>
        .fieldError {
            color: #bd2130;
            font-weight: bolder;
        }
    </style>
    <script>
        $(document).ready(function(){
            var error = [[${error}]];
            if(error != null){
                var checked = $('#reg-log').is(':not(:checked)');
                if(checked)
                    $('input:checkbox').prop('checked',true);
                if(error)
                $("#memailCode").val('');
            }
        });
    </script>
</head>
<body>
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <a th:href="@{/}" class="hero-logo" data-aos="zoom-in"><img th:src="@{/static/img/logo/logo.png}" alt=""></a>
                    <h6 class="mb-0 pb-3"><span>로그인 </span><span>회원가입</span></h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">로그인</h4>
                                        <form action="/login" method="post">
                                            <div class="form-group">
                                                <input type="email" name="username" class="form-style" placeholder="이메일"  autocomplete="off" required>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="password" class="form-style" placeholder="비밀번호" autocomplete="off" required>
                                            </div>
                                            <button type="submit" class="btn mt-4">로그인</button>
                                            <p class="mb-0 mt-4 text-center"><a href="#0" class="link">비밀번호를 잊으셨나요?</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">회원가입</h4>
                                        <form action="/join" method="post"  th:object="${memberJoinDTO}">
                                            <div class="form-group">
                                                <input type="text" th:field="*{mname}" class="form-style" placeholder="이름" autocomplete="off">
                                                <p th:if="${#fields.hasErrors('mname')}" th:errors="*{mname}" class="fieldError">Incorrect data</p>
                                            </div>
                                            <div class="form-group mt-2" style="display: flex;">
                                                <input type="email" th:field="*{email}"  class="form-style" placeholder="이메일" id="memail" autocomplete="off" style="width: 65%;" >
                                                <button class="btn" type="button" id="checkEmail" style="margin-top:2px;">전송</button>
                                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="text" th:field="*{code}" class="form-style"  placeholder="이메일 인증코드" id="memailCode" autocomplete="off" style="width: 65%;" >
                                                <button class="btn" type="button" id="memailconfirm" style="margin-top:2px;">인증</button>
                                                <p th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="fieldError">Incorrect data</p>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" th:field="*{mpw}" class="form-style" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" placeholder="비밀번호 8~16자 대소문자,특수문자" autocomplete="off" >
                                                <p th:if="${#fields.hasErrors('mpw')}" th:errors="*{mpw}" class="fieldError">Incorrect data</p>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" th:field="*{passwordConfirm}" class="form-style" placeholder="비밀번호 확인"autocomplete="off" >
                                                <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="fieldError">Incorrect data</p>
                                            </div>
                                            <button type="submit" id="submit" class="btn mt-4">가입</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var emconfirmchk = false; // 이메일 인증
    var $memail = $("#memail");
    var $checkEmail = $("#checkEmail"); // 인증번호 발송 버튼
    var $memailconfirm = $("#memailconfirm"); // 인증번호 확인input
    var $memailCode = $("#memailCode");
    // 이메일 인증번호
    $checkEmail.click(function() {
        $.ajax({
            type : "POST",
            url : "/emailConfirm",
            data : {
                "email" : $memail.val()
            },
            success : function(data){
                alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인부탁드립니다.")
                $memail.attr("readonly",true);
                console.log("data : "+data);
                chkEmailConfirm(data, $memailconfirm);
            }
        })
    })
    // 이메일 인증번호 체크 함수
    function chkEmailConfirm(data, $memailconfirm){
        $memailconfirm.click( function(){
            if (data != $memailCode.val()) {
                emconfirmchk = false
                alert("인증번호가 잘못되었습니다:)");
            } else {
                emconfirmchk = true
                alert("인증번호 확인이 완료되었습니다:)");
            }

            // 회원가입 버튼 활성/비활성화 여부 확인
            checkSignUpButton();
        });
    }

    function checkSignUpButton() {
        var $signUpButton = $(".submitBtn");
        if (emconfirmchk) {
            // 모든 조건이 충족되면 회원가입 버튼 활성화
            $signUpButton.prop("disabled", false);
        } else {
            // 어떤 조건이라도 충족되지 않으면 회원가입 버튼 비활성화
            $signUpButton.prop("disabled", true);
        }
    }

</script>
</body>
</html>