<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원정보</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link th:href="@{/static/css/page.css}" rel="stylesheet">
</head>
<body>
    <div class="container" style="margin-top: 200px;">
        <th:block th:insert="~{layout/header :: header}"></th:block>
        <div class="card-3d-wrap mx-auto" >
            <div class="card-3d-wrapper">
                <div class="card-front">
                    <div class="center-wrap">
                        <div class="section text-center">
                            <h4 class="mb-4 pb-3">회원정보변경</h4>
                            <div class="form-group">
                                <label for="email" class="form-label" style="width:100px;">이메일</label>
                                <input type="email" class="form-style" id="email" name="email" th:value="${member.email}" readonly>
                            </div>
                            <div class="form-group mt-2">
                                <label for="mname" class="form-label" style="width:80px;">이름</label>
                                <input type="text" class="form-style" id="mname" name="mname" th:value="${member.mname}" style="width:52%">
                                <button class="btn btn-dark" onclick="changeName()" style="float:right;">변경</button>
                            </div>
                            <div class="form-group mt-2">
                                <label for="mpw" class="form-label" style="width:80px;">비밀번호</label>
                                <input type="text" class="form-style" id="mpw" name="mpw" th:value="${pw}" style="width:52%" readonly>
                                <a th:href="@{/member/changePw}" class="btn btn-dark" style="float:right;"> 변경</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      function changeName(){
          let params = { mname : $("#mname").val() }
          $.ajax ({
              url : "/member/changeName",
              type : "post",
              data : params,
              success:function(data) {
              console.log("HI");
              alert("이름이 변경되었습니다:)");
              }
          });
      }

    </script>
</body>
</html>