<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>마이페이지</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
</head>
<body>
<div class="container" style="margin-top: 200px;">
    <th:block th:insert="~{layout/header :: header}"></th:block>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{/static/img/basic.png}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">[[${member.mname}]]</h5>
                    <p class="card-text">[[${#temporals.format(member.regDate, 'yyyy-MM-dd')}]]</p>
                    <p class="card-text">[[${member.email}]]</p>
                </div>
                <div>
                    <a th:href="@{/member/check}" class="btn btn-secondary">내정보수정</a>
                </div>
            </div>
        </div>
    </div>
    <form th:action="@{/member/mypage}" method="post">
        <div class="mb-3">
            <label for="intro" class="form-label">자기소개</label>
            <textarea class="form-control" id="intro" name="intro" rows="3" th:text="${profile?.intro}"></textarea>
        </div>
        <div class="mb-3">
            <label for="gitLink1" class="form-label">깃허브링크</label>
            <input type="text" class="form-control" id="gitLink1" name="gitLink1" th:value="${profile?.gitLink1}">
        </div>
        <div class="mb-3">
            <label for="gitLink2" class="form-label">깃허브링크</label>
            <input type="text" class="form-control" id="gitLink2" name="gitLink2" th:value="${profile?.gitLink2}">
        </div>
        <div>
            <button type="submit" class="btn btn-secondary">수정</button>
        </div>
    </form>
</div>
</body>
</html>