<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>마이페이지</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link th:href="@{/static/css/page.css}" rel="stylesheet">
</head>
<body>

<div class="container" style="margin-top: 200px;">
    <th:block th:insert="~{layout/header :: header}"></th:block>
    <div class="card-3d-wrap mx-auto" style="width: 70%; height: 300px;">
        <div class="card-3d-wrapper">
            <div class="card-front">
                <div class="center-wrap">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="@{/static/img/basic.png}" style=" height:200px;" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="mname" class="form-label" style="width:100px;">이름</label>
                                <input type="text" class="form-style" id="mname" name="mname" th:value="${member.mname}" readonly>
                            </div>
                            <div class="form-group mt-2">
                                <label for="regdate" class="form-label"  style="width:100px;">가입일</label>
                                <input type="text" class="form-style" id="regdate" name="regdate" th:value="${#temporals.format(member.regDate, 'yyyy-MM-dd')}" readonly>
                            </div>
                            <div class="form-group mt-2">
                                <label for="email" class="form-label"  style="width:100px;">이메일</label>
                                <input type="text" class="form-style" id="email" name="email" th:value="${member.email}" readonly>
                            </div>
                        </div>
                        <div>
                            <a th:href="@{/member/check}" class="btn btn-secondary">내정보수정</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-3d-wrap mx-auto" style="width: 70%; height: 600px;">
        <div class="card-3d-wrapper" >
            <div class="card-front">
                <div class="center-wrap">
                    <div class="section text-center">
                        <h4 class="mb-4 pb-3">회원정보변경</h4>
                        <form th:action="@{/member/mypage}" method="post">
                            <label for="intro" class="form-label">자기소개</label>
                            <div class="mb-3" >
                                <textarea class="form-style" id="intro" name="intro" rows="3" cols="100" maxlength="800" th:text="${profile?.intro}" style="height: 100px;"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="gitLink1" class="form-label">깃허브링크</label>
                                <input type="text" class="form-style" id="gitLink1" name="gitLink1" th:value="${profile?.gitLink1}">
                            </div>
                            <div class="mb-3">
                                <label for="gitLink2" class="form-label">깃허브링크</label>
                                <input type="text" class="form-style" id="gitLink2" name="gitLink2" th:value="${profile?.gitLink2}">
                            </div>
                            <div>
                                <button type="submit" class="btn mt-4">수정</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>