<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link th:href="@{/static/css/login.css}" rel="stylesheet">
    <title>본인확인</title>
</head>
<body>

<div class="container" style="margin-top: 200px;">
    <th:block th:insert="~{layout/header :: header}"></th:block>
    <div class="card-3d-wrap mx-auto" style="height: 300px !important;">
        <div class="card-3d-wrapper">
            <div class="card-front">
                <div class="center-wrap">
                    <div class="section text-center">
                        <h6 class="mb-4 pb-3" style="font-weight: 900;">비밀번호를 다시 한번 입력해주세요.</h6>
                        <div class="form-group">
                            <form th:action="@{/member/check}" method="post">
                                <input type="password" id="mpw" name="mpw" class="form-style" autocomplete="off" style="width: 70%">
                                <button type="submit" class="btn btn-dark" style="float:right">확인</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>