#popupBtn {
    width: 150px;
    height: 50px;
    padding: 10px 5px;
}
#modalWrap {
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: none;
}

#modalBody {
    width: 800px;
    height: 500px;
    padding: 30px 30px;
    margin: 0 auto;
    background-color: #1e2022;
}

#closeBtn {
    float:right;
    font-weight: bold;
    color: #777;
    font-size:25px;
    cursor: pointer;
}
