/*--------------------------------------------------------------
# General / Editor Section
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

section {
  padding: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h5 {
  font-family: 'GongGothicMedium';
  padding : 3px;
  margin: 0px 10px;
  width: 100px;
  text-align: center;
  border-top-left-radius: 10px;
  vertical-align: middle;
  border-top-right-radius: 10px;
  margin-top: 8px;
  color:#fff;
}

strong {
  font-family: 'GongGothicMedium';
  color:#fff;
}

p {
  font-family: 'GongGothicMedium';
  color:#fff;
  margin : 29px;
}
.info-content {
  font-size: 14px;
}
hr {
  color: #fff;
  margin: 5px 25px;
}

.col-form-label {
  font-family: 'GongGothicMedium';
}

button {
  font-family: 'GongGothicMedium';
}

#logoImage {
  width: 30px!important;
}

.boxes {
  /*display: flex;*/
  width: 30%;
  height:100%;
  justify-content: space-between;
}

iframe {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: none;
}

.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 1px solid #5c5b5b;
}

.editor-container .CodeMirror {
  flex-grow: 1;
}

.editor-header {
  /*padding: 0 10px;*/
}

.button-container {
  margin-top: 7px;
  border-bottom: 1px solid #ccc;
}

.button-container>button {
  margin-right: 10px;
}

@media screen and (max-width: 900px) {
  .boxes {
    flex-direction: column;
  }

  .cm-s-monokai.CodeMirror {
    max-height: 200px;
  }
}

span.material-symbols-outlined {
  cursor: pointer;
  margin-right: 10px;
  font-size: 30px;
  color:#FFFFFF;
  vertical-align: middle;
}


select,input {
  text-align: center;
  font-family: 'GongGothicMedium';
  background-color: #444141;
  color: white;
  border: black;
  font-size: 20px;
  width: 250px;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

label{
  color: white;
}

.black {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

#resultDiv {
  font-family: 'GongGothicMedium';
  background-color: #444141;
  color: white;
  border: black;
  font-size: 20px;
  width: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom:0px;
  margin-left: 12px;
  vertical-align: middle;
  text-align: center;
}

#clearHtml {
  padding-top:6px;
}

#clearCss {
  padding-top: 6px;
}

#clearJs {
  padding-top:6px;
}

#if {
  font-size: 22px;
  color: #fff;
  background-color: #4a4a4b;
  padding-bottom: 6px;
  padding-top: 5px;
  border-radius: 100px;
  padding-right: 5px;
  padding-left: 5px;
}

/*--------------------------------------------------------------
# Split
--------------------------------------------------------------*/
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

  /*--------------------------------------------------------------
  # Modal
  --------------------------------------------------------------*/

#modalWrap6 {
  position: fixed;
  z-index: 100;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: none;
}

#modalBody6 {
  width: 470px;
  height: 250px;
  padding: 15px 30px;
  margin: 0 auto;
  background-color: #1e2022;
  border-radius: 30px;
}

#closeBtn6 {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}

#modalContent6 {
  margin-top: 70px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}
.modal-backdrop {
  display: none;
}

/* 모달 내용 스타일 */
.modal-content {
  background-color: rgb(42, 42, 42);
  margin: 5% auto;
  border: 0.1em solid rgb(128, 128, 128);
  width: 100%;
}

.modal-dialog{
  max-width:600px;
}

/* 모달 닫기 버튼 스타일 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#tree {
  border: 2px solid #555;
  border-radius: 5px;
  height: 500px;
  overflow: scroll;
}

#tree a {
  text-decoration: none;
  color: #FFFFFF;
}
/* 버튼 컨테이너 스타일 */
.button-container {
  display: flex;
  gap: 10px; /* 요소들 사이의 간격 설정 (원하는 만큼 조절) */
}

/* 가상 요소로 구분선 스타일 설정 */
.button-container span::after {
  content: "|"; /* 가상 요소의 내용 설정 */
  margin-left: 5px; /* 가상 요소의 왼쪽 여백 설정 (원하는 만큼 조절) */
  color: white; /* 가상 요소의 색상 설정 */
}

/* 마지막 버튼 뒤에는 구분선을 표시하지 않음 */
.button-container span:last-child::after {
  content: none; /* 마지막 버튼 뒤의 가상 요소 내용을 없앰 */
}

#modalWrap5 {
  position: fixed;
  z-index: 9999;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: none;
}

#modalBody5 {
  width: 470px;
  height: 250px;
  padding: 15px 30px;
  margin: 0 auto;
  background-color: #1e2022;
  border-radius: 30px;
}

#closeBtn5 {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}

#modalContent5 {
  margin-top: 70px;
}

#modalWrap {
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: none;
}

#modalBody {
  width: 470px;
  height: 250px;
  padding: 15px 30px;
  margin: 0 auto;
  background-color: #1e2022;
  border-radius: 30px;
}

#closeBtn {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}

#modalContent {
  margin-top: 70px;
}

#renameFileModal {
  position: fixed;
  z-index: 999;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: none;
}

#modalBody2 {
  width: 470px;
  height: 335px;
  padding: 15px 30px;
  margin: 0 auto;
  background-color: #1e2022;
  border-radius: 30px;
}

#closeBtn2 {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}

#modalContent2 {
  margin-top: 60px;
}

#renameFolderModal {
  position: fixed;
  z-index: 999;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: none;
}

#modalBody7 {
  width: 470px;
  height: 335px;
  padding: 15px 30px;
  margin: 0 auto;
  background-color: #1e2022;
  border-radius: 30px;
}

#closeBtn7 {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}

#modalContent7 {
  margin-top: 60px;
}

#moreNav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 150px;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
}

#modalBody3 {
  top: 99px !important;
  right: 107px !important;
  position: absolute;
  width: 13%;
  margin: 0 auto;
  background-color: #2A2A2A;
  border-radius: 5px;
  border: 0.1em solid rgb(128, 128, 128);
}

#balloon2 {
  padding-left: 5px;
  margin-bottom: 3px;
}

#balloon2 li {
  cursor: pointer;
  list-style: none;
  padding: 4px!important;
  color:#fff;
  font-family: 'GongGothicMedium';
}

#balloon2 li:hover {
  cursor: pointer;
  color: #ffeba7;
  font-family: 'GongGothicMedium';
}


#moreNav2 {
  position: absolute;
  z-index: 998;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
}

#modalBody4 {
  top: 99px!important;
  right: 0px!important;
  position: absolute;
  width: 590px;
  padding-left: 10px;
  margin: 0 auto;
  background-color: #2A2A2A;
  border-radius: 5px;
  border: 0.1em solid rgb(128, 128, 128);
}

#modalWrap2 {
  position: fixed;
  z-index: 999;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: none;
}

#modalBody8 {
  width: 470px;
  height: 250px;
  padding: 15px 30px;
  margin: 0 auto;
  background-color: #1e2022;
  border-radius: 30px;
}

#closeBtn8 {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}

#modalContent8 {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/

#iconNav {
  position: absolute;
  background-color: #102770;
  top:3px;
  right: 45px;
  padding-top: 5px;
  border-radius: 50px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

#balloon {
  width:130px;
  top: 50px!important;
  right: -13px!important;
  z-index: 999;
}

#balloon li {
  padding: 4px 2px!important;
}

#balloon:after {
  border-top:0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(30, 32, 34);
  content:"";
  position:absolute;
  top:-10px;
  left:92px;
}

#balloon li a {
  color: #fff;
  font-family: 'GongGothicMedium';
  font-size: 16px;
}

#balloon li:hover a{
  color: #ffeba7;
  font-family: 'GongGothicMedium';
  font-size: 16px;
}

#popupBtn {
  font-family: 'GongGothicMedium';
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#popupBtn5 {
  font-family: 'GongGothicMedium';
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#loadFileBtn {
  font-family: 'GongGothicMedium';
}

#popupBtn2 {
  position: relative;
  width: 18px!important;
  padding: 3px 0;
  margin-left: 0px;
  margin-right: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#popupBtn6 {
  width: 18px!important;
  padding: 3px 0;
  margin-left: 0px;
  margin-right: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#popupBtn3 {
  position: relative;
  font-family: 'GongGothicMedium';
  padding-top: 7px;
  padding-bottom: 7px;
  z-index: 990;
}

#popupBtn4 {
  font-family: 'GongGothicMedium';
  padding-top: 7px;
  padding-bottom: 7px;
  /*z-index: 990;*/
}

.runBtn {
  font-family: 'GongGothicMedium';
  margin: 3px 3px;
  border: 1px solid #313131;
  border-radius: 10px;
  padding-top: 7px;
  height: 37px;
  color: #fff;
  padding-right: 6px;
  cursor: pointer;
  background-color: #313131;
}

.runBtn:hover {
  filter:brightness(1.5);
}

#autoSaveCheck {
  background-color: #4e4e4e;
  color: white;
  border: black;
  font-size: 20px;
}

#saveAT {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #868686;
}

#savetext {
  padding-top: 3px;
  padding-left: 8px;
}

#checkCircle {
  padding-top: 9px;
  cursor:default;
}

#dnsName {
  margin-top: 15px;
  margin-left: 20px;
}

#pane {
  margin-left: 14px;
  width: 90%;
  margin-bottom: 30px;
}

.gj-list-md-active {
  background-color: #474747 !important;
  color: #c7c7c7 !important;
}

ul.gj-list-md {
  margin-bottom: 0px;
}
