<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>TCODING</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>

</head>
<body>

<section id="hero">
    <div class="hero-container">
        <a th:href="@{/}" class="hero-logo" data-aos="zoom-in"><img th:src="@{/static/img/logo/logo.png}" alt=""></a>
        <h1 data-aos="zoom-in">T코딩입니다</h1>
        <h2 data-aos="fade-up">웹 브라우저에서 손쉽게 코딩을 해보고 테스트할 수 있는 편리함이 가득해요.</h2>
        <th:block sec:authorize="isAnonymous()">
            <a data-aos="fade-up" data-aos-delay="200" th:href="@{/login}" class="btn-get-started scrollto" style="font-weight: bold">로그인</a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <div class="d-inline-flex">
            <a data-aos="fade-up" data-aos-delay="200" th:href="@{/java/project}" class="btn-get-started scrollto" style="font-weight: bolder">프로젝트</a>
            <a data-aos="fade-up" data-aos-delay="200" th:href="@{/editor}" class="btn-get-started scrollto" style="font-weight: bolder">연습장</a>
            </div>
            <div id="logout">
                <a data-aos="fade-up" data-aos-delay="200" th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket" style="color:#FFEBA7FF;"></i></a>
            </div>
        </th:block>
    </div>
</section>
</body>
</html>