<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>TCODING</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link th:href="@{/static/css/index.css}" rel="stylesheet">

</head>
<body>

<section id="hero">
    <div class="hero-container">
        <a th:href="@{/}" class="hero-logo" data-aos="zoom-in"><img th:src="@{/static/img/logo/logo.png}" alt=""></a>
        <h1 data-aos="zoom-in">T 코딩입니다!</h1>
        <h2 data-aos="fade-up">웹 브라우저에서 손쉽게 코딩을 해보고 테스트할 수 있는 편리함이 가득해요.</h2>
        <th:block sec:authorize="isAnonymous()">
            <div class="d-inline-flex">
                <a data-aos="fade-up" data-aos-delay="200" th:href="@{/login}" class="btn-get-started scrollto" style="font-weight: bold">로그인</a>
                <a data-aos="fade-up" data-aos-delay="200" th:href="@{/editor}" class="btn-get-started scrollto" style="font-weight: bolder">연습장</a>
            </div>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <a data-aos="fade-up" data-aos-delay="200" id="popupBtn" class="btn-get-started scrollto" style="font-weight: bolder">시작하기</a>
            <div id="logout">
                <a data-aos="fade-up" data-aos-delay="200"><i class="fa-solid fa-user" style="color:#FFEBA7FF;"></i></a>
                <div id="balloon-wrap">
                    <ul id="balloon">
                        <li><a th:href="@{/member/mypage}">마이페이지</a></li>
                        <li><a th:href="@{/logout}">로그아웃</a></li>
                    </ul>
                </div>
            </div>


            <div id="modalWrap">
                <div id="modalBody" style=" border-radius: 30px;">
                    <span id="closeBtn">&times;</span>
                    <div class="row m-4 pt-5" >
                        <div class="col">
                            <div>
                                <img th:src="@{/static/img/java.png}" style=" width:300px; height:200px; border-radius: 20px;" class="card-img-top" alt="...">
                                <div>
                                    <p class="mb-0 mt-4"><i class="fa-brands fa-java" style="color:#007396; font-size: 20px;"></i></p>
                                    <a data-aos="fade-up" data-aos-delay="200" th:href="@{/java/project}" class="btn-get-started scrollto" style="font-weight: bolder; border-radius:25px; margin-top: 35px;">프로젝트</a></div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img th:src="@{/static/img/editor.png}" style=" width:300px; height:200px; border-radius: 20px;" class="card-img-top" alt="...">
                                <div>
                                    <p class="mb-0 mt-4"><i class="fa-brands fa-css3-alt"style="color:#1572b6; font-size: 20px;"></i>&nbsp;<i class="fa-brands fa-html5" style="color:#e34f26; font-size: 20px;"></i>&nbsp;<i class="fa-brands fa-square-js" style="color:#f7df1e; font-size: 20px;"></i></p>
                                    <a data-aos="fade-up" data-aos-delay="200" th:href="@{/editor}" class="btn-get-started scrollto" style="font-weight: bolder; border-radius:25px; margin-top: 35px;">연습장</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <script>
        const btn = document.getElementById('popupBtn');
        const modal = document.getElementById('modalWrap');
        const closeBtn = document.getElementById('closeBtn');
        const icon = document.getElementById('logout');
        const balloon = document.getElementById('balloon');

        btn.onclick = function() {
            modal.style.display = 'block';
        }
        closeBtn.onclick = function() {
            modal.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        icon.addEventListener('mouseenter', function (){
            balloon.style.display = 'block';
        })

        icon.addEventListener('mouseover', function (){
            console.log("bye");
            balloon.style.display = 'block';
        })

        icon.addEventListener('mouseout', function (){
            balloon.style.display = 'none';
        })
    </script>
</section>
</body>
</html>